---
layout: 'base.njk'
---

<!-- 
{% metagen
    title={{title}},
    desc={{description}},
    url={{url}} + {{page.url}},
    img={{image}},
    img_alt={{imageAlt}},
    twitter_card_type={{type}},
    twitter_handle={{twitter}},
    name={{author}}
%} -->


<article class="main-article">
    <div class="container--narrow flow pt-lg">

        <h1 class="article-title">
            {{ title }}
        </h1>
        <p class="post__meta">Written by {{ author }} on {{ date | postDate }} <span>&sdot;</span> <span
                class="post__meta--tags">{{
                tags }}</span></p>
        <figure class="main-article__figure">
            <div class="main-article__img-wrapper"><img src="{{ image }}" alt="{{ imageAlt }}"></div>
            <!-- <figcaption>
                {{ imageAlt }}
            </figcaption> -->
        </figure>

        {{ content | safe }}

    </div>
</article>
