<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <title>{{ title }}</title>
  <link rel="canonical" href="{{site.root}}{{page.url}}">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-duotone-sea.min.css"
    integrity="sha512-uEfqz8yEVto3O7e1yu9u2Ij38I86i0oVP94rWxW4X1GEyNhYo14CYmo5j7mHQX/J9XSXVklxDQISYNStBfml0w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script defer src="/darkmode.js"></script>
</head>

<a href="#content">
  Skip to Content
</a>

<body>
  {% include 'header.njk' %}

  <main class="sidebar container" id="content" tabindex="-1">

    <aside class="container">
      <p class="tags">Categories</p>
      <ul>
        <li><a href="/code">code</a></li>
        <li><a href="/life">life</a></li>
        <li><a href="/design">design</a></li>
      </ul>
    </aside>
    {{ content | safe }}
  </main>

  {% include 'footer.njk' %}

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>

  <script>

    const darkToggleButtons = document.querySelectorAll('.dark-toggle')
    const darkLogo = document.getElementById("logo-dark")
    const lightLogo = document.getElementById("logo-light")
    const darkLogoBtm = document.getElementById("logo-btm-dark")
    const lightLogoBtm = document.getElementById("logo-btm-light")



    window.addEventListener('load', (e) => {
      if (document.body.classList.contains('dark')) {
        lightLogo.classList.add('hidden')
        darkLogo.classList.remove('hidden')
        lightLogoBtm.classList.add('hidden')
        darkLogoBtm.classList.remove('hidden')
        localStorage.prefsDark = 'true'
      } else {
        document.body.classList.remove('dark')
        darkLogo.classList.add('hidden')
        lightLogo.classList.remove('hidden')
        darkLogoBtm.classList.add('hidden')
        lightLogoBtm.classList.remove('hidden')
        localStorage.prefsDark = 'false'
      }
    })


    function changeDarkToggleBtnIcon() {
      darkToggleButtons.forEach(btn => {
        if (btn.querySelector('img').src.indexOf('/assets/moon.svg') !== -1) {
          btn.querySelector('img').src = "{{ '/assets/moon-light.svg' | url }}"
        } else {
          btn.querySelector('img').src = "{{ '/assets/moon.svg' | url }}"
        }
      })
    }
    if (
      localStorage.prefsDark === 'true' ||
      (
        window.matchMedia &&
        window.matchMedia('(prefers-color-scheme: dark)').matches &&
        localStorage.prefsDark !== 'false')
    ) {
      document.body.classList.add('dark')
      changeDarkToggleBtnIcon()
    }

    darkToggleButtons.forEach(btn => {
      btn.addEventListener('click', () => {
        changeDarkToggleBtnIcon()
        if (document.body.classList.contains('dark')) {
          document.body.classList.remove('dark')
          lightLogo.classList.remove('hidden')
          darkLogo.classList.add('hidden')
          lightLogoBtm.classList.remove('hidden')
          darkLogoBtm.classList.add('hidden')
          localStorage.prefsDark = 'false'
        } else {
          document.body.classList.add('dark')
          darkLogo.classList.remove('hidden')
          lightLogo.classList.add('hidden')
          darkLogoBtm.classList.remove('hidden')
          lightLogoBtm.classList.add('hidden')
          localStorage.prefsDark = 'true'
        }
      })
    })


  </script>
</body>

</html>