---
title: About
layout: 'about-layout.njk'
---



<div class="section container--narrow about--narrow">
    <h1 class="section-title" id="about-title">/ About me.</h1>

    <div class="section-about">
        <ul>
            <li>
                My journey from serif to <div class="inline-gif">
                    <span>sans serif</span><img class="top-image1" src="/assets/gifs/muh.jpg" alt="">
                </div> and <div class="inline-gif">
                    <span>back </span><img class="top-image2" src="/assets/gifs/me.jpg" alt="">
                </div> again.
            </li>
            <li>
                Once upon an awkward teenage time, something along the lines of <div class="inline-gif">
                    <span>this</span><img class="top-image3" src="/assets/gifs/start.gif" alt="">
                </div> happened.
            </li>
            <li>
                And well my self-image was pretty much <div class="inline-gif">
                    <span>downhill</span><img src="/assets/gifs/downhill.gif" alt="">
                </div> from there.
            </li>
            <li>
                I’ve always loved gaming growing up, so this became my <div class="inline-gif">
                    <span>escape.</span><img src="/assets/gifs/wow-life.webp" alt="">
                </div>
            </li>
            <li>
                I continued to <div class="inline-gif">
                    <span>distance</span><img src="/assets/gifs/homer-bush.webp" alt="">
                </div> myself from the world, and my computer screen lit room was the perfect <div class="inline-gif">
                    <span>hiding</span><img src="/assets/gifs/bart-hide.gif" alt="">
                </div> spot.
            </li>
            <li>
                If you had the awkward pleasure of meeting me during this stage of my life, it would have looked
                something like <div class="inline-gif">
                    <span>this.</span><img src="/assets/gifs/eyes.webp" alt="">
                </div>
            </li>
            <li>
                Eye contact was a struggle, and the effect that this insecurity had on my personal relationships was,
                well... <div class="inline-gif">
                    <span>not good.</span><img src="/assets/gifs/heart.gif" alt="">
                </div>
            </li>
            <li>
                I rode through life ignoring people and responsibilities,<div class="inline-gif">
                    <span>burning</span><img src="/assets/gifs/burn.gif" alt="">
                </div> bridges along the way.
            </li>
            <li>
                Each door I went through was a new form of <div class="inline-gif">
                    <span>escapism</span><img src="/assets/gifs/wonka-door.gif" alt="">
                </div> and the more riskless doors I went through, the smaller the door of <div class="inline-gif">
                    <span>opportunities</span><img class="top-imagebob" src="/assets/gifs/burgers.gif" alt="">
                </div> got.
            </li>
            <li>
                I’ve used the web as an escape in the past, but the web is so open and ever-growing that I guess <div
                    class="inline-gif">
                    <span>I'm along for the ride.</span><img src="/assets/gifs/woody.gif" alt="">
                </div>
            </li>
        </ul>
    </div>

</div>