---
title: About
layout: 'about-layout.njk'
---



<div class="section container--narrow">
    <h1 class="section-title">Overly personal about page coming soon...</h1>

    <p>
        sit amet consectetur adipisicing elit. Reprehenderit, voluptas illum aliquam reiciendis eos aut
        nisi dicta explicabo deserunt soluta quae quod impedit nemo hic necessitatibus quos illo, vel dolor?
    <ul>
        <li>
            <span>this.</span>
            <img src="/assets/gifs/homer-bush.webp" alt="">
        </li>
    </ul>
    sit amet consectetur adipisicing elit. Reprehenderit, voluptas illum aliquam reiciendis eos aut
    nisi dicta explicabo deserunt soluta quae quod impedit nemo hic necessitatibus quos illo, vel dolor?
    <ul>
        <li>
            <span>this.</span>
            <img src="/assets/gifs/homer-bush.webp" alt="">
        </li>
    </ul>
    </p>

</div>