/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Nunito:ital,wght@0,400;0,700;1,400&family=VT323&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'VT323', monospace; */

:root {
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;

  --ff-body: "Nunito", sans-serif;
  --ff-heading: "Inter", sans-serif;

  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;

  --clr-brand: #00ee38;
  --clr-body: #323e35;
  --clr-title: #0c2f3f;
  --clr-sec-heading: #001204;
  --clr-meta: #002408;
  --clr-footer-link: #002400;
  --clr-sidelink-text: #f2fef5;
  --clr-selection: #ddffe5;
  --clr-meta-dot: #00ee38;
  --clr-span: #f2fef5;
  --bg-grad: linear-gradient(159.61deg, #ffffff -0.62%, #f2fef5 100%);
}

:root .dark {
  --clr-brand: #00ee38;
  --clr-body: hsla(133, 10%, 82%, 0.836);
  --clr-title: #ffffff;
  --clr-sec-heading: #ffffff;
  --clr-meta: #bbffcb;
  --clr-footer-link: #cdd6cf;
  --clr-sidelink-text: #0c2f3f;
  --clr-selection: #001204;
  --clr-meta-dot: #ffffff;
  --clr-span: #001204;
  /* --bg-grad: linear-gradient(159.46deg, #001E07 0%, #001204 100%); */
  --bg-grad: linear-gradient(159.46deg, #000a02 0%, #001204 100%);
}

.hidden {
  display: none;
}

@media (min-width: 35em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
  }
}

/* @media (prefers-color-scheme: dark) {
  img {
    filter: brightness(.8) contrast(1.2);
  }

} */

body.dark .moon {
  fill: #f2fff5;
}

/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
General styling
/////////////////////// */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--clr-body);
  background: var(--bg-grad);
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-900);
  line-height: 1.1;
}

a {
  color: inherit;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
a:hover {
  color: var(--clr-brand);
}

strong {
  font-weight: var(--fw-700);
}

section,
.section {
  padding: min(10vh, 10em) 0;
  margin-top: 2rem;
}

::-moz-selection {
  background: var(--clr-selection);
  color: var(--clr-selection);
}

::selection {
  background: var(--clr-selection);
  color: var(--clr-selection);
}
::-moz-selection {
  background: var(--clr-selection);
  color: var(--clr-selection);
}
/* //////////////////////
Utility Classes
/////////////////////// */

/* select all direct childen of .flow
   and add margin to the top for proper
   spacing */

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.container {
  margin-inline: auto;
  padding-inline: 1.5em;
  max-width: 90rem;
}

.container--narrow {
  margin-inline: auto;
  padding-inline: 1.5em;
  max-width: 65rem;
}

.pt-lg {
  margin-top: 5rem;
}

.flex-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.text-center {
  text-align: center;
}

/* typgraphy */

.article-title,
.section-title {
  color: var(--clr-sec-heading);
}

.article-title {
  font-size: 2.618125rem;
}

.section-title {
  font-size: 6.85375rem;
}

.pagination {
  font-family: "VT323", monospace;
}

.pagination a {
  text-decoration: none;
}

/* //////////////////////
  Header
  /////////////////////// */

.page-header {
  padding: 2em 0;
  font-family: var(--ff-heading);
}

.page-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list a {
  color: var(--clr-neutral-900);
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.nav-list li {
  position: relative;
}

.nav-list li::after {
  content: "";
  display: block;
  height: 3px;
  background-color: var(--clr-brand);
  position: absolute;
  left: 0.15rem;
  right: 0.15rem;
  bottom: -5px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1),
    -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}
.nav-list li:hover::after,
.nav-list li:active::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

/* NAVIGATION */
.navigation {
  display: none;
}

@media only screen and (max-width: 50em) {
  .navigation {
    display: inline-block;
  }

  #about-title {
    margin-bottom: 0;
    font-size: 4.236rem;
  }
}
@media only screen and (max-width: 37.5em) {
  #about-title {
    margin: -1rem 0;
    font-size: 2.618rem;
  }

  .section .section-about ul li {
    line-height: 1.5;
    font-size: 1.618rem;
  }

  .section-about .inline-gif span {
    font-size: 1.618rem;
  }
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: var(--clr-sec-heading);
  height: 4.1rem;
  width: 4rem;
  position: absolute;
  top: 2.4rem;
  right: 8rem;
  /* border-radius: 50%; */
  z-index: 13;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

/* @media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
} */

.navigation__background {
  height: 3rem;
  width: 3rem;
  opacity: 0;
  border-radius: 50%;
  position: fixed;
  top: 3.5rem;
  right: 8rem;
  /* background-image: radial-gradient(#7ed56f, #28b485); */
  background-image: var(--bg-grad);
  z-index: 11;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}

/* @media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
} */

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 12;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navigation__list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

/* .navigation__item {
  margin: 1rem;
} */

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 0.5rem 1rem;
  color: var(--clr-sec-heading);
  text-decoration: none;
  text-transform: uppercase;
  /* background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    var(--clr-sec-heading) 50%
  );
  background-size: 220%; */
  transition: all 0.4s;
}

.navigation__link span {
  margin-right: 1.5rem;
  display: inline-block;
  font-weight: var(--fw-700);
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  /* color: var(--clr-brand); */
  transform: translateX(1rem);
}

.navigation__link::after {
  content: "";
  display: block;
  height: 5px;
  background-color: var(--clr-brand);
  position: absolute;
  left: 0.15rem;
  right: 0.15rem;
  bottom: -5px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1),
    -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__link:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
  opacity: 1;
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__checkbox:not(:checked) ~ .navigation__nav {
  transition: opacity 0s;
  display: none;
}
.navigation__checkbox:checked ~ .navigation__button {
  position: fixed;
}

.navigation__icon {
  position: relative;
  margin-top: 2rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 2.5rem;
  height: 4px;
  background-color: var(--clr-sidelink-text);
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.7rem;
}
.navigation__icon::after {
  top: 0.7rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/* .nav-list a:focus,
.nav-list a:hover {
  color: var(--clr-primary-400);
  text-decoration: underline; 
} */

/* //////////////////////
  Footer
  /////////////////////// */

.site-footer {
  /* --logo-color: currentColor; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 4em 0 2em 0;
  color: var(--clr-body);
  background-color: transparent;
  text-align: center;
  font-family: var(--ff-body);
  font-size: 1rem;
}

.site-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 2rem;
}

.site-footer a {
  text-decoration: underline;
  color: var(--clr-footer-link);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.site-footer a:hover,
.site-footer a:focus {
  color: var(--clr-brand);
}

.footer-icons,
.footer-icons {
  fill: var(--clr-body);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.footer-icons:hover,
.footer-icons:focus {
  fill: var(--clr-brand);
}

@media (max-width: 56em) {
  .site-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .site-footer ul {
    padding-left: 0;
  }

  .logo {
    margin-left: 0.825rem;
    margin-bottom: 0.825rem;
  }
}

/* //////////////////////
  Homepage
  /////////////////////// */

/* @media (min-width: 45em) {

} */

.sidebar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(11rem, 6%) 1fr;
  grid-template-columns: minmax(11rem, 6%) 1fr;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

aside {
  font-family: "VT323", monospace;
  font-size: 1rem;
  margin-top: 2rem;
}

aside ul {
  list-style: none;
  padding-left: 0;
}

aside ul li {
  margin-bottom: 1.25rem;
}

aside ul li a {
  text-decoration: none;
  padding: 0.25rem 1rem;
  background-color: var(--clr-sec-heading);
  color: var(--clr-sidelink-text);
  border-radius: 0.25rem;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

aside ul li a:hover {
  /* background-color: #01380db2; */
  background-color: var(--clr-selection);
  color: var(--clr-sec-heading);
}

aside p {
  font-size: 1.618125rem;
}

@media screen and (max-width: 50em) {
  .sidebar {
    /* grid-template-columns: 1fr; */
    display: block;
  }

  aside,
  aside ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    list-style: none;
    gap: 2rem;
  }

  aside ul {
    gap: 2rem;
  }

  .nav-list {
    display: none;
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    border-right: 2px solid var(--clr-sec-heading);
    padding-right: 1rem;
    margin-right: 1rem; */
  }

  /* .nav-list__button {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  } */
}

aside {
  -webkit-transform: translateX(-2.3rem);
  -ms-transform: translateX(-2.3rem);
  transform: translateX(-2.3rem);
}

.articles__list {
  --flow-spacer: 8rem;
  margin: 8rem 0;
}

/* //////////////////////
  Individual article page
  /////////////////////// */

.main-article {
  margin-bottom: 3rem;
}

.main-article p {
  line-height: 1.6;
  /* max-width: 65ch; */
  max-width: 90ch;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.main-article p > img {
  margin: 2rem auto;
}

.main-article ul li::marker {
  color: var(--clr-brand);
}

pre {
  color: var(--clr-body);
  padding: 0.25rem 0.5rem;
  /* margin: 0; */
  font-size: 0.85em;
  background-color: var(--clr-sidelink-text);
  border-radius: 3px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

pre[class*="language-"] {
  width: 100%;
}

hr {
  border-top: 2px solid var(--clr-title);
}
/* .main-article ol li::marker {
  color: var(--clr-brand);
} */

/* .main-article__img-wrapper {
  max-width: 600px;
  max-height: 400px;
} */

/* .main-article__figure figcaption {
  margin: 1rem 0;
  font-size: var(--fs-300);
  opacity: 0.9;
} */

/* //////////////////////
  Article posts
  /////////////////////// */

.post {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  grid-template-areas:
    "meta"
    "title"
    "image"
    "body"
    "button";
}

.post__image--container {
  max-width: 65%;
  /* max-height: 700px; */
}

.post__image {
  grid-row: 5;
  grid-column: 1;
  grid-area: image;
  width: 100%;
  aspect-ratio: 4 / 3;
  -o-object-fit: cover;
  object-fit: cover;
}
.post__title,
.post__title a {
  grid-row: 3;
  grid-column: 1;
  grid-area: title;
  font-size: 2.618125rem;
  color: var(--clr-title);
}
.post__meta {
  grid-row: 1;
  grid-column: 1;
  grid-area: meta;
  margin-bottom: -1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--clr-meta);
  position: relative;
  font-size: 1rem;
  font-family: "VT323", monospace;
}

/* .post__meta:before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  content: "";
  width: 0.25rem;
  height: 0.25rem;
  background: var(--clr-brand);
  border-radius: 50%;
} */

.post__meta span {
  color: var(--clr-meta-dot);
  font-size: 2rem;
}

.post__meta span:last-child {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--clr-meta);
}

.post .btn {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-row: 9;
  grid-column: 1;
  grid-area: button;
}

.post__title {
  color: var(--clr-neutral-900);
  font-size: var(--fs-500);
}

.post__title a {
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.post__title a:hover,
.post__title a:focus {
  /* color: #001204d5; */
  /* color: #55ff7d; */
  /* color: var(--clr-meta); */
  color: var(--clr-brand);
}

.post__body {
  font-size: 1.618125rem;
}

/* blockquote styling */
blockquote {
  background: var(--clr-sidelink-text);
  border-left: 10px solid var(--clr-brand);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: var(--clr-brand);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* pagination styling */

.pagination {
  -ms-grid-column: 2;
  grid-column: 2;
  width: 100%;
  -ms-grid-row-align: end;
  align-self: end;
  margin: auto;
  -webkit-transform: translateY(-6rem);
  -ms-transform: translateY(-6rem);
  transform: translateY(-6rem);
}

.pagination__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.pagination__inner > [data-direction="forwards"] {
  -webkit-margin-start: auto;
  margin-inline-start: auto;
}

/* Books Gallery */

.layout-body {
  background-image: var(--bg-grad);
  overflow-x: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.panner {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.pannable {
  z-index: -10;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50vh;

  display: -ms-grid;

  display: grid;
  -ms-grid-columns: 300px 2rem 300px 2rem 300px 2rem 300px 2rem 300px 2rem 300px
    2rem 300px 2rem 300px;
  grid-template-columns: repeat(8, 300px);
  grid-auto-flow: dense;
  gap: 2rem;
}

.panner img {
  max-height: 400px;
  opacity: 0.3;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
}

.footer-fbot {
  position: fixed;
  bottom: 0;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
  width: 100%;
}

.footer-fbot > * {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4rem 1fr 4rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 4rem;
}

/* .about-header > .navigation {
  transform: scale(1000%) !important;
} */

/* form */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 2rem;
}

form input {
  width: 60%;
  padding: 0.5rem;
  color: var(--clr-sec-heading);
  border: 2px solid var(--clr-title);
  background-color: var(--clr-sidelink-text);
  border-radius: 4px;
  caret-color: var(--clr-brand);
}

.submit-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100% 1fr;
  grid-template-columns: 100% 1fr;
  width: 100%;
  position: relative;
}

form button {
  position: absolute;
  top: 10%;
  left: 55%;
  background: none;
  border: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

form input::-webkit-input-placeholder {
  font-family: "VT323", monospace;
  color: var(--clr-brand);
}

form input::-moz-placeholder {
  font-family: "VT323", monospace;
  color: var(--clr-brand);
}

form input:-ms-input-placeholder {
  font-family: "VT323", monospace;
  color: var(--clr-brand);
}

form input::-ms-input-placeholder {
  font-family: "VT323", monospace;
  color: var(--clr-brand);
}

form input::placeholder {
  font-family: "VT323", monospace;
  color: var(--clr-title);
}

form button:hover .submit-icon {
  fill: var(--clr-brand);
}
.submit-icon {
  fill: var(--clr-title);
}

.captcha {
  position: absolute;
  margin: 4rem 0;
}

/* section about */

.about--narrow {
  margin-inline: 20%;
  padding-inline: 1.5em;
  max-width: 65rem;
}

.section-about span {
  position: relative;
  cursor: pointer;
  font-family: var(--ff-heading);
  color: var(--clr-span);
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--clr-sec-heading);
  -webkit-text-fill-color: transparent; */
  text-shadow: -2px -2px 0 var(--clr-sec-heading),
    2px -2px 0 var(--clr-sec-heading), -2px 2px 0 var(--clr-sec-heading),
    2px 2px 0 var(--clr-sec-heading);
  font-size: 4.235625rem;
  font-weight: var(--fw-900);
  margin-left: 0.25rem;
  /* text-decoration: underline; */
  transition: all 0.8s ease;
}

.section-about ul .inline-gif {
  position: relative;
}

.section-about ul .inline-gif span::after {
  content: "";
  display: block;
  height: 6px;
  background-color: var(--clr-brand);
  position: absolute;
  left: 0.15rem;
  right: 0.15rem;
  bottom: -5px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1),
    -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}
.section-about ul .inline-gif:hover span::after,
.section-about ul .inline-gif:active span::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.section-about ul {
  width: 24ch;
  color: var(--clr-sec-heading);
  /* display: grid; */
  font-family: var(--ff-heading);
  font-size: 4.235625rem;
  font-weight: var(--fw-900);
  /* grid-template-columns: 3fr 1fr; */
  list-style: none;
  margin-top: 4rem;
  padding-left: 0;
}
.section-about ul li {
  /* display: inline-flex; */
  align-items: center;
  /* position: relative; */
  line-height: 1.5;
  margin-bottom: 2rem;
}

.section-about ul .inline-gif {
  position: relative;
}

.section-about ul li img {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  /* display: none; */
  visibility: hidden;
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
  z-index: 1;
  max-width: none;
  transition: all 0.3s ease;
  transform: scale(0);
}
.section-about ul .inline-gif:hover img,
.section-about ul .inline-gif:active img {
  /* display: block; */
  visibility: visible;
  transform: scale(1);
}

.section-about ul .inline-gif:hover span,
.section-about ul .inline-gif:active span {
  opacity: 0.9;
  /* color: var(--clr-brand); */
}

.section-about ul .inline-gif {
  display: inline-block;
}

@media (max-width: 80em) {
  .section-about {
    overflow: hidden;
  }

  .about--narrow {
    margin-inline: 2%;
    margin-right: 0;
  }

  .section-about ul {
    width: 100%;
  }

  #about-title {
    margin: -1rem 0;
    font-size: 4.236rem;
  }

  .section .section-about ul li {
    line-height: 1.5;
    font-size: 2.618rem;
  }

  .section-about .inline-gif span {
    font-size: 2.618rem;
  }

  .section-about ul li img {
    bottom: 2em;
    left: -5em;
  }
}
@media (max-width: 50em) {
  .section-about ul li {
    line-height: 1.5;
    font-size: 2.618rem;
  }

  .section-about span {
    font-size: 2.618rem;
  }

  .section-about ul .inline-gif:hover img,
  .section-about ul .inline-gif:active img {
    transform: scale(0.8);
  }

  .section-about ul li img {
    bottom: 1em;
    left: -4em;
  }
}

/* Media Qs */

@media (min-width: 45em) {
  .post {
    grid-template-areas:
      "meta"
      "title"
      "image"
      "body"
      "button";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: min-content min-content min-content 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content 1fr;
    grid-template-rows: min-content min-content min-content 1fr;
  }
  .post__image {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-row: 3;
    grid-column: 1;
  }
  .post__title,
  .post__title a {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-row: 2;
    grid-column: 1;
  }
  .post__meta {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    grid-column: 1;
  }
  .post .btn {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-row: 5;
    grid-column: 1;
  }
}

.read-more {
  text-decoration: none;
  font-family: "VT323", monospace;
  color: var(--clr-meta);
  font-size: 1rem;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.read-more:hover,
.read-more:focus {
  color: var(--clr-brand);
}

@media only screen and (max-width: 62.5em) {
  #about-title {
    margin: -1rem 0;
    font-size: 4.236rem;
  }

  .section .section-about ul li {
    line-height: 1.5;
    font-size: 2.618rem;
  }

  .section-about .inline-gif span {
    font-size: 2.618rem;
  }

  .section-about ul li img {
    bottom: 2em;
    left: -5em;
  }
}

@media (max-width: 56em) {
  .site-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .site-footer ul {
    padding-left: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer-fbot > * {
    display: block;
  }

  .logo {
    margin-left: 0.825rem;
    margin-bottom: 0.825rem;
  }
}

.book-all {
  display: none;
}

@media (max-width: 50em) {
  .pt-lg {
    margin-top: 1rem;
  }
  .post__image--container {
    max-width: 100%;
  }

  .section {
    padding-left: 1rem;
    margin-top: 0rem;
  }

  .section-title {
    margin-bottom: 4rem;
  }

  aside {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    gap: 1rem;
    margin-top: 0;
  }

  aside ul {
    gap: 1rem;
  }

  .articles__list {
    margin: 2rem 0;
  }

  .pagination {
    -webkit-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    transform: translateY(0rem);
  }

  form button {
    left: 50%;
  }

  .about--narrow {
    margin-inline: auto;
    padding-inline: 1.5em;
    max-width: 65rem;
  }

  .nav-list__button {
    display: inline-block;
    transform: scale(2);
    margin-bottom: 2rem;
    margin-right: 50%;
  }

  .nav-list__button {
    /* margin-bottom: 0rem;
    margin-right: 70%; */
    position: absolute;
    top: -6rem;
    left: 2rem;
  }

  .nav-list__button img {
    fill: var(--clr-sec-heading);
  }

  .navigation__link {
    transform: scale(0.8);
  }

  .navigation__link:hover,
  .navigation__link:active {
    transform: scale(0.8);
  }

  .book-wrapper {
    border-top: 4px solid var(--clr-title);
  }

  .panner {
    border-bottom: 4px solid var(--clr-title);
  }

  .panner img {
    z-index: 100;
    max-height: 100%;
    overflow: visible;
  }

  .book-all {
    display: block;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .pannable {
    display: none;
  }

  .footer-fbot {
    position: relative;
    bottom: 0;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center;
    width: 100%;
  }
}

.nav_mobile {
  display: none;
}

@media screen and (max-width: 45.625em) {
  #about-title {
    margin: -1rem 0;
    font-size: 2.618rem;
  }

  .section .section-about ul li {
    line-height: 1.5;
    font-size: 1.618rem;
  }

  .section-about .inline-gif span {
    font-size: 1.618rem;
  }

  .section-about ul .inline-gif:hover img,
  .section-about ul .inline-gif:active img {
    transform: scale(0.6);
  }
  .section-about ul li img {
    bottom: -50%;
    left: -200%;
  }
}

@media (max-width: 38em) {
  /* nav {
    display: none;
  } */
  /* 
  .nav_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 2rem;
    margin-right: 0;
    padding: 0 2rem;
    border-left: 2px solid var(--clr-sec-heading);
    border-right: 2px solid var(--clr-sec-heading);
  } */

  body {
    font-size: var(--fs-300);
  }
  .page-header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 1rem;
    align-items: flex-start;
  }

  .navigation__button {
    transform: scale(0.8);
    top: 3.1rem;
    right: 4rem;
  }

  .nav-list__button {
    /* margin-bottom: 0rem;
    margin-right: 70%; */
    position: absolute;
    top: -5rem;
    left: 2rem;
  }

  .navigation__link {
    transform: scale(0.6);
  }

  .navigation__link:hover,
  .navigation__link:active {
    transform: scale(0.6);
  }

  .logo-header {
    transform: scale(0.8);
  }

  .section-title {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .post__title {
    font-size: 2rem;
  }

  .post__body {
    font-size: 1.2rem;
  }

  .page-header__content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  aside {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    gap: 1rem;
    margin-top: 0;
  }

  aside ul {
    gap: 1rem;
  }

  .articles__list {
    margin: 2rem 0;
  }

  form button {
    left: 45%;
  }

  .section-about ul .inline-gif:hover img,
  .section-about ul .inline-gif:active img {
    transform: scale(0.6);
  }

  .section-about ul li img {
    bottom: -80%;
    left: -200%;
  }
}

@media screen and (max-width: 31.25em) {
  .navigation__button {
    transform: scale(0.6);
    top: 3.1rem;
    right: 4rem;
  }

  .nav-list__button {
    top: -5rem;
    left: 2rem;
  }

  .navigation__link {
    transform: scale(0.4);
  }

  .navigation__link:hover,
  .navigation__link:active {
    transform: scale(0.4);
  }

  .logo-header {
    transform: scale(0.6);
  }

  button[type="submit"] {
    transform: scale(0.8);
  }

  .section-about ul li img {
    bottom: -100%;
    left: -300%;
  }

  #about-title {
    margin: -1rem 0;
    font-size: 2.618rem;
  }

  .section .section-about ul li {
    line-height: 1.5;
    font-size: 1.618rem;
  }

  .section-about .inline-gif span {
    font-size: 1.618rem;
  }

  .section-about ul .inline-gif:hover img,
  .section-about ul .inline-gif:active img {
    transform: scale(0.4);
  }
}

@media (max-width: 28em) {
  .page-header {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-end;
    /* background-color: #001204; */
    min-width: 100vw;
    padding: 0;
  }

  .nav-list {
    font-size: 0.75rem;
  }

  .nav-list img {
    width: 75%;
    height: 75%;
  }

  .post__image--container {
    max-width: 85%;
  }

  aside {
    padding: 0;
    margin-top: 1rem;
  }

  .site-footer {
    margin: 0 1rem;
  }

  .navigation__button {
    transform: scale(0.5);
    top: 1.25rem;
    right: 4rem;
    margin-left: 2rem;
  }

  .navigation__link {
    transform: scale(0.4);
  }

  .navigation__link:hover,
  .navigation__link:active {
    transform: scale(0.4);
  }

  .logo-header {
    transform: scale(0.6);
    padding-right: 2rem;
  }

  .nav-list__button {
    top: -7rem;
    left: 2rem;
  }
}
